
body{ font-family: Verdana;
background-color: rgb(253, 135, 192);}





 #image1 {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width:1016px;
 }
 
 a{
     display:inline-block;
     width:296px;
     height:30px;
     text-decoration:none ;
     text-align: center;
     color:black ;

 }

 


 .two img{
     float:left;
     margin-left: 2px;
 }
 .container{
     overflow: hidden;
     background-color: rgb(253, 190, 220);
     width:1016px;
     margin: 0 auto;
 }

 .tit#le{
     position: absolute;
     top: 35%;
     background-color: rgba(255, 255, 255, 0);
     width: 80%;
     text-align: center;  
     font-size: 80px;
     
}



 .centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -700%);


}
h1{margin: 0px;
padding: 10px;
background-color: rgb(253, 190, 220);}

.facts{padding: 10px;}

.contact{padding:10px;}

.imput2{width: 95%;
 border: 1px solid pink;}

.message{width: 95%;
height: 100px;
border: 1px solid pink;
resize: none;}

fieldset{margin-left: 10px;
     margin-right: 10px;
     border: 1px solid black;}

.button{background-color: rgb(253, 190, 220);
     border: 1px solid black;
 padding: 10px;}


a {
display: inline-block;
text-align: center;
padding: 5px 5px;
width: 320px;
height: 30px;
border-right:1px solid black;
font-weight: 600;
}
a:last-child{ border-right:none;}

.fact{
padding: 0px;
margin-left: -15px;
}


footer{
padding: 30px;
left: 0%;
right: 0%;
width:95% ;
text-align: right;
font-weight: 545;
}

div.absolute{
position: absolute;

}

p{font-size: 14px;
margin-left: 10px;
margin-right: 10px;}

